<!DOCTYPE html>
<html>
    <head>
        <style>
            h1 {text-align : center; font-family: verdana; color : #936c6c;}
            p {text-align : center; font-family: Verdana;}
            body {background-image : url(http://i.imgur.com/tvAVMw5.jpg);
        </style>
    </head>
    <body>
        <h1>Welcome to pintresting</h1>
        <p>This is pretty sick, eh?</p>
    </body>
</html>

